<html>
<head>
  <title>{{ request.user.username }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
  .jumbotron {
    background-color: #f4511e; /* Orange */
    color: #ffffff;
    margin-bottom: 0px;
}
.fluid {
    padding: 60px 50px;
}
.bg-grey {
    background-color: #f6f6f6;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    color: #000000;
}
.input{
  width: 60px;
}
a:hover{
    text-decoration: none;
}
.navbar {
      margin-top: 0px;
      margin-bottom: 1px;
      border-radius: 0;
    }
li {
    margin-right: 2px;
}
  </style>
</head>
<header>
  <div class="jumbotron text-center">
    <a href="/MainBS/Auth/Home/" style="color: #ffffff">
    <h1>AI</h1>
    <h2>Paper Generator</h2>
    </a>
  </div>
</header>
<body>
<nav class="navbar navbar-inverse">

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-left">
          <li><a href="#">Welcome {{ request.user.username }}</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/MainBS/logout/"><span class="glyphicon glyphicon-user"></span> Logout</a></li>
      </ul>
    </div>

</nav>
<div class="container-fluid">
  <div class="row">
    <a href="#">
    <div class="col-sm-6" style="font-size:40px;border-style: groove;border-color: blue;">
      <span class="glyphicon glyphicon-file"></span>  Generate a Question Paper
    </div>
   </a>
   <a href="/MainBS/addquestion/">
    <div class="col-sm-6" style="font-size:40px;border-style: groove;border-left-style: none;border-color: blue;">
      <span class="glyphicon glyphicon-plus-sign"></span>  Add Questions
    </div>
   </a>
  </div>
</div>
<!-- Start of main body -->
{% block body %}
{% endblock %}
<!-- End of main body -->

<br>
<br>

</body>
<footer>

  <div class="fluid text-center bg-grey">
    <h2>Created By</h2>
    <h4>Bhavya Shah &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Shyamal Shah</h4>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <a href="#" class="fa fa-facebook"></a>
      </div>
      <div class="col-sm-4">
        <a href="#" class="fa fa-twitter"></a>
      </div>
      <div class="col-sm-4">
        <a href="#" class="fa fa-instagram"></a>
      </div>
      </div>
      <br><br>
  </div>


</footer>
</html>
