{% extends 'MainBS/Base2.html'%}


{% block body %}
<center>
<p style="color:red;">*Total marks doesn't add up. Please verify your input.</p>
</center>
<div class="container">
    <h1> {{ subject }} </h1>
<form action="/MainBS/result/" name="form1" onsubmit="required()" method="post">
    {% csrf_token %}
<div class="form-group">
  <label for="total">Total Marks:</label>
  <input type="number" class="form-control" required="required" name = "total" id="total">
</div>
    <h3> Enter the no of questions for each type: </h3>
    {% for each in type %}
<div class="form-group">
  <label for="{{ each.name }}">{{ each.name }} ({{ each.marks }}):</label>
  <input type="number" class="form-control" required="required" name = "{{ each.name }}" id="{{ each.name }}">
</div>
    {% endfor %}
    <h3> Enter the no of questions from each chapter: </h3>
    {% for each1 in chapter %}
<div class="form-group">
  <label for="{{ each1.name }}">{{ each1.name }}:</label>
  <input type="number" class="form-control" required="required" name = "{{ each1.name }}" id="{{ each1.name }}">
</div>
    {% endfor %}

<div class="form-group">
      <div class="col-sm-offset-5 col-sm-12">
        <button type="submit" class="btn btn-lg">Generate</button>
      </div>
    </div>
</form>
</div>
<script>
function required(){
var empt = document.forms["form1"]["total"].value;
if (empt == "")
{
alert("Please input a Value");
return false;
}
else
{
alert('Code has accepted : you can try another');
return true;
}
{% for each in type %}
var empt = document.forms["form1"]["{{ each.name }}"].value;
if (empt == "")
{
alert("Please input a Value");
return false;
}
else
{
alert('Code has accepted : you can try another');
return true;
}
{% endfor %}
{% for each1 in chapter %}
var empt = document.forms["form1"]["{{ each1.name }}"].value;
if (empt == "")
{
alert("Please input a Value");
return false;
}
else
{
alert('Code has accepted : you can try another');
return true;
}
{% endfor %}
}

</script>
{% endblock %}