
{% extends 'MainBS/Base2.html'%}


{% block body %}

<div class="container-fluid">
  <div class="row">
    <a href="/MainBS/genpaper/">
    <div class="col-sm-6" style="font-size:40px;border-style: groove;border-color: blue;">
      <span class="glyphicon glyphicon-file"></span>  Generate a Question Paper
    </div>
   </a>
   <a href="/MainBS/addquestion/">
    <div class="col-sm-6" style="font-size:40px;border-style: groove;border-left-style: none;border-color: blue;">
      <span class="glyphicon glyphicon-plus-sign"></span>  Add Questions
    </div>
   </a>
  </div>
</div>

{% endblock %}